body {
    background: #002b36; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    color: #fff; 
}

.logo {
    font-size: 45px;
    font-weight: bold;
    margin-right: 20px;
    color: #fff; 
    align-self: center; 
}

.editor-container {
    display: flex;
    justify-content: space-between;
    width: 90%; 
    margin-top: 20px;
    background: #002b36; 
}

button {
    height: 25px;
    width: 15%;
    background: #002b36; 
    color: #fff; 
    border: 2px solid #333; 
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background: #002b36; 
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(2, 104, 75, 0.5); 
    transform: scale(1.05); 
}



textarea {
    width: 45%; 
    height: 200px; 
    padding: 1rem;
    font-size: 1rem;
    font-family: monospace;
    background: #002b36; 
    border: #333;
    border-radius: 50px;
    border-width: 6px;
    backdrop-filter: blur(10px);
    color: #fff;
    font-weight: 500;
    resize: none; 
    transition: all 0.3s;
    overflow: auto; 
}

textarea:hover {
    background: #002b36; 
    color: #ffffff;
    transform: scale(1.05);
}

iframe {
    width: 100%; 
    height: 500px; 
    font-size: 1rem;
    font-family: monospace; 
    background: #002b36; 
    border: 2px solid #333; 
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: #fff;
    font-weight: 500;
    resize: none; 
    transition: all 0.3s;
    overflow: hidden; 
}

a {
    display: inline-block; 
    color: #fff; 
    height: 35px; 
    padding: 0.8rem 1.5rem; 
    text-decoration: none; 
    font-weight: 500; 
    font-size: 1rem; 
    border: 2px solid #333; 
    border-radius: 15px; 
    border-width: 6px;
    background: #002b36; 
    transition: all 0.3s ease; 
}

a:hover {
    background: #002b36; 
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(2, 104, 75, 0.5); 
    transform: scale(1.05); 
}

.divider {
    width: 100%; 
    height: 6px; 
    background: #fff;
    margin: 20px 0;
}

h1{
    padding:30px;
}

nav {
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;;
}

.nav-items {
    display: flex;
    align-items: center;
    background-color: #333;
}

