body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002b36;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 26px;
    border: none;
    outline: none;
}

.nav-items a:hover {
    text-decoration: underline;
}

.divider {
    margin: 20px 0;
}

.hero {
    background-color: #002b36; 
    padding: 40px;
    margin: 20px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-left {
    text-align: left;
}

.column-left h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #ffffff; 
    font-weight: bold;
}

.column-left p {
    margin-top: 10px;
    font-size: 1.5em;
    color: whitesmoke; 
    line-height: 1.6;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container a {
    flex: 1 1 30%; 
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    background-color: #333;
    font-size: 18px;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-with-image img {
    max-width: 100px; 
    margin-bottom: 10px;
}

.button-with-image span {
    display: block;
    margin-top: 10px;
}