body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002b36;
}

nav {
    background-color: #684a4a;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 75px;
    font-weight: bold;
    margin-right: 20px;
    align-items:left;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 26px;
    border: none;
    outline: none;
}

.nav-items a:hover {
    text-decoration: underline;
}

.divider {
    margin: 20px 0;
}


.hero {
    background-color: #002b36; 
    padding: 40px;
    margin: 20px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-left {
    text-align: left;
}

.column-left h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #ffffff; 
    font-weight: bold;
}

.column-left p {
    margin-top: 10px;
    font-size: 1.5em;
    color: whitesmoke; 
    line-height: 1.6;
}
    a:hover {
    background-color: #867070;
    color: #fff;
    }


    .main-btn {
    background-color: #684a4a !important;
    color: #fff !important;
    border: 2px solid #684a4a;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    width: 120px!important;
    max-width: 100%!important;
    text-align: center;
    text-decoration:none
    }

    a.main-btn {
    width: 50px;
    height: 40px;
    background-color: #684a4a !important;
    color: #fff !important;
    border: 2px solid #684a4a;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    text-align: center;
    border: #333;
    border-radius: 15px;
    font-size:30px;
    }

    .main-btn:hover {
    background-color: #867474 !important;
    color: #fff !important;
    }



    .main-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 3px 0;
    }

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;                  
    gap: 30px 20px;                        
    margin: 30px auto;                      
    max-width: 900px;   
    width: 100%;       
    border-radius: 15px;
    flex-wrap: wrap;
}
button {
    width: 290px!important;
    height: 75px;
    background-color: #684a4a;
    color: #fff;
    border-color: #684a4a;
    border-radius: 15px;
    font-size: 35px;
    cursor: pointer;
    
}

button:hover {
    background-color: #867474; 
    color: #fff;    
     border-radius: 15px;
     border: #867474;
}

h1 {
    align-self: center;
}   

p {
    align-self: center;
    font-size: 35px;
    color: #fff; 
    margin: 10px 0;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 55px;
    color: #fff; 
    margin: 0;
    padding: auto;
}