body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002b36;
}

nav {
    background-color: #5a9f68;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;;
}

.nav-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #5a9f68;
}

.logo {
    font-size: 75px;
    font-weight: bold;
    margin-right: 20px; 
    color: #fff; 
    align-self: center; 
}

.divider {
    background-color: #fff;
    height: 2px; 
    border: none; 
    margin: 20px 0; 
}

h1 {
    font-size: 55px;
    color: #fff; 
    margin: 0;
    padding: auto;
}

p {
    font-size: 35px;
    color: #fff; 
    margin: 10px 0;
}

.divider1{
    margin: 20px 0;
    height: 2px;
    background-color: #002b36;
    border: none;
}


.custom-shape-divider-bottom-1751208122 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1751208122 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 177px;
}

.custom-shape-divider-bottom-1751208122 .shape-fill {
    fill: #5a9f68;
}
    

   .main-btn {
    background-color: #5a9f68 !important;  
    color: #fff !important;
    border: 2px solid #684a4a;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    width: 180px!important;
    height: 65px;
    max-width: 100%!important;
    text-align: center;
    text-decoration:none
    }

    a.main-btn {
    background-color: #5a9f68 !important;
    color: #fff !important;
    border: 2px solid #5a9f68;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    text-align: center;
    border: #5a9f68;
    border-radius: 15px;
    font-size: 45px;
    width: 75px;
    }

    .main-btn:hover {
    background-color: #588157 !important;
    color: #fff !important;
    }



    .main-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 3px 0;
    }

.img-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

img {
    width: 525px;
    height: 540px;
     border: #002b36;
    border-radius: 1000px;
}

.split-container {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 5000px;
    margin: 0 auto;
}

.split-text {
    flex: 1;
    max-width: 50%;
    padding: 40px;
    box-sizing: border-box;
      margin-right:100px ; 
}

.img-container {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.img-container img {
    max-width: 600px;
    border-radius: 1000px;
    margin-right: 50px; 
}   